# Ignore all
*

# Unignore all with extensions
!*.*
!makefile

# Unignore all dirs
!*/


# Ignore compiled executables
*.exe
*.out
*.app
*.com

# Ignore binary files
*.bin
*.dll
*.so

# Ignore compiled bytecode
*.class

# Ignore script executables
*.sh
*.bash
*.zsh

# Ignore compiled object files
*.o
*.obj

# Ignore JAR and WAR files
*.jar
*.war

.vscode
